<select id='cmbRep' class="form-control input-sm">
    <option value='Client Wise'>Client Wise</option>
    <option value='Group Wise'>Group Wise</option>
    <option value='Family Wise'>Family Wise</option>
    <option value='Branch Wise'>Branch Wise</option>
    <option value='RM Wise'>RM Wise</option>
    <option value='Remissier Wise'>Remissier Wise</option>
</select>
