<select id='cmbSelect' class="form-control input-sm" >
    <option value='CL'>Client</option>
    <option value='GR'>Group</option>
    <option value='SB'>Sub-Broker</option>
    <option value='FM'>Family</option>
    <option value='BR'>Branch</option>
  
    @*<option value='ALL'>All</option>*@
</select>

