@model IEnumerable<TRADENET.Models.CodeNameAmountModel>
@{
    Layout = null;
}

@if (Model == null || Model.Count() == 0)
{
    <div id="pnlPopup" class="alert alert-info">
        <strong>Info!</strong> NO RECORDS FOUND
    </div>
    return;
}

<div class="panel-body">
    <table id="tblRecPayX" class="table" style="width:80%">
        <thead>
            <tr class="GroupHeader">
                <th style="width:20%" class="leftalign GroupHeader">Code</th>
                <th style="width:80%" class="leftalign GroupHeader">Name</th>
                <th style="width:20%" class="rightalign GroupHeader">Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td class="leftalign"><a class="anchorwait" href="#">@d.Code</a></td>
                    <td class="leftalign">@d.Name</td>
                    <td class="rightalign">@d.Amt</td>
                </tr>
            }
        </tbody>
    </table>
</div>