@{
    ViewBag.Title = "OutStanding Position";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/AdminLTE/daterangepicker/daterangepicker.css">
<link href="~/AdminLTE/multiselct/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .btn-default {
        width: 127px;
        height: 25px;
    }

        .btn-default span {
            position: relative;
            top: -4px;
            right: 0;
            font-size: 12px;
        }

    .caret {
        margin-top: -8px;
    }
</style>

<div id="divModalProgress" class="modal" style="display: none">
    <div class="center">
        <img alt="" src="~/img/loader.gif" />
    </div>
</div>
<div class="container-fluid row-no-gutters">
    <div class="row" align="center">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div id="divProfitLossHead" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading ledgerhead">
                        <a href="#"><strong>OUTSTANDING POSITION</strong></a>

                    </div>
                </div>
                <div align="center" id="divProfitLossSelect" class="panel-body ledgerbody">
                    <form class="form-horizontal" action="" method="post">
                        <div class="form-group">


                            <div align="right" class="col-sm-1">
                                As On :
                            </div>
                            <div align="left" class="col-md-2"  style="margin: 0 0 0 0.9%;">
                                <div class='input-group'>
                                    <input type="text" class="form-control input-sm" id="dateBulk">
                                    <label class="input-group-addon btn" for="date">
                                        <span class="fa fa-calendar  open-datetimepicker"></span>
                                    </label>
                                </div>

                            </div>
                            <div align="right" class="col-sm-1">
                                For :
                            </div>
                            <div align="left" class="col-sm-1" style="margin: 0 0 0 0.9%;width:13.33%">
                                @*@{ Html.RenderPartial("_SelectComboBox"); }*@
                                <select id='cmbSelect' class="form-control input-sm">
                                    <option value='CL'>Client</option>
                                    <option value='GR'>Group</option>
                                    <option value='SB'>Sub-Broker</option>
                                    <option value='FM'>Family</option>
                                    <option value='BR'>Branch</option>
                                </select>
                            </div>
                            <div align="left" class="col-sm-2" style="margin: 0 0 0 0.9%;width: 22.8%">
                                @*@{ Html.RenderPartial("_SearchClientTextBox"); }*@
                                <input type="text" class="form-control input-sm" id="txtSearchbyName" autocomplete="off" placeholder="Search Client" list="ClientMasterSearch" required>
                                <datalist id="ClientMasterSearch"></datalist>
                            </div>

                            <div align="right" class="col-sm-1">
                                Exch/Seg :
                            </div>
                            <div id="divseg" align="left" class="col-md-2" style="margin: 0 0 0 0.5%;">
                                @*@Html.Action("FillComboCES/?criteria=Cash")*@
                                @Html.Action("FillComboCES", "Tplus", new { criteria = "F,X" })
                               
                            </div>
                            <div align="right" class="col-sm-1">
                            </div>
                        </div>


                        <div class="form-group">
                            <div align="right" class="col-sm-1">
                                </div>
                                <div align="right" class="col-md-2">
                                    <select id='cmbSelectWise' class="form-control input-sm" style="margin: 0 0 0 0.5%;">
                                        <option selected="selected" value='C'>ClientWise</option>
                                        <option value='S'>SeriesWise</option>
                                        <option value='B'>BranchWise</option>

                                    </select>
                                </div>

                                <div align="right" class="col-md-2" style="margin: 0 0 0 5.9%;width: 19.999%;">
                                    Show P/L for open position :
                                </div>
                                <div align="left" class="col-md-1" style="margin: 0 0 0 0.9%;">

                                    <input id="PL" type="checkbox" class="form-check-input" />
                                </div>

                                <div align="right" class="col-md-2" style="margin: 0 0 0 3.0%;width: 16.9%">
                                    Show Exposure Margin :

                                </div>
                                <div align="left" class="col-md-1" style="margin: 0 0 0 0.9%;">
                                    <input id="Margin" type="checkbox" class="form-check-input" />
                                </div>



                                <div align="right" class="col-md-2">
                                    <input type="submit" class="btn btn-primary" id="btnFetch" value="Fetch" />
                                </div>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>
    <div class="row collapse" align="center" id="divReportPanel">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="panel panel-info">
                <div id="divReportPanelHeader" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading">
                    OUTSTANDING POSITION
                </div>
                <div id="divReportPanelBody" class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
    </div>



    @section Scripts
    {
        <script src="~/AdminLTE/moment/min/moment.min.js"></script>
        <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
        <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/tpluslibrary.js"></script>

        <script type="text/javascript">

            $(".ledgerhead").click(function () {
                $('.ledgerbody').toggle();
            });

            $(document).ready(function () {
                $('#cmbExchSeg').multiselect({
                    includeSelectAllOption: true
                });
            });
            $('#txtSearchbyName').on("input", function () {
                if ($('#txtSearchbyName').val() == "") {
                    return;
                }
                var options = {};
                options.url = '@Url.Action("GetClientDetails", "Tplus")';
                options.type = "GET";
                options.data = { 'criteria': $('#txtSearchbyName').val(), 'SearchBy': $("#cmbSelect").val() };
                options.dataType = "json";
                options.success = function (data) {
                    $("#ClientMasterSearch").empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#ClientMasterSearch').append("<option value='" +
                        data[i].ClientName + "'></option>");
                    }
                };
                $.ajax(options);
            });



            $('#btnFetch').click(function (event) {

                var Dpid = $('#cmbExchSeg').val();
                Dpid = Dpid.toString().trim();

                if (Dpid == '') {
                    alert("Please select Exchange Segment");
                    $('#cmbExchSeg').focus();
                    return false;
                }

                var cmbSelectWise = $("#cmbSelectWise").val();
                cmbSelectWise = cmbSelectWise.toString().trim();

                var cmbSelect = $("#cmbSelect").val();
                cmbSelect = cmbSelect.toString().trim();

                var Code = "";
                var valNew = $('#txtSearchbyName').val();
                if (valNew.trim() != "") {
                    valNew = $('#txtSearchbyName').val().split("~");
                    Code = valNew[1]
                }


                $('#divReportPanelBody').html('');
                $('#divReportPanel').hide();

                $('.ledgerbody').hide();

                //var date = $('#dateBulk').datepicker({ dateFormat: 'yyyyMMdd' }).val();;
                var date = $('#dateBulk').val();

                //var date1 = date.toDateString();
                var Margin = "0";
                var PL = "0";
                if (document.getElementById('Margin').checked == true) {
                    Margin = "1";
                }
                if (document.getElementById('PL').checked == true) {
                    PL = "1";
                }

                //var FromDt = $('#daterange-btn').data('daterangepicker').startDate.format("YYYYMMDD")
                //var ToDt = $('#daterange-btn').data('daterangepicker').endDate.format("YYYYMMDD");

                //var strFromDt = $('#daterange-btn').data('daterangepicker').startDate.format("DD/MM/YYYY")
                //var strToDt = $('#daterange-btn').data('daterangepicker').endDate.format("DD/MM/YYYY");

                var display;
                display = 'OUTSTANDING POSITION [' + date + ']'


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FOutstandingPositionReport", "Tplus")',
                    dataType: "html",
                    data: { 'strDPID': Dpid, 'strClient': Code, 'FDate': date, 'cmbSelect': cmbSelectWise, 'Select': cmbSelect, 'Margin': Margin, 'PL': PL },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $("#btnFetch").attr("disabled", true);
                        $('#divModalProgress').modal('show');

                    },
                    success: function (response) {
                        $('#divReportPanelHeader').html(display);
                        $('#divReportPanelBody').html(response);
                        $('#divReportPanel').show();
                        $("#btnFetch").attr("disabled", false);
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });


            @*$(document).on('click', "#customers td", function (event) {
                var colindex = $(this).index();
                var click = $(this).closest('tr').children('td:eq(2)').text();
                aler(click);
                var colindex = $(this).index();
                var click = $(this).closest('tr').children('td:eq(6)').text();

                if (click != "B") {
                    return false;
                }

                if (colindex == 0) {
                    var code = $(this).closest('tr').children('td:eq(0)').text();
                    var name = $(this).closest('tr').children('td:eq(1)').text();
                    var date = $('#fromdate').val();

                    var head = name + ' [' + code + ']';
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetClientLedger", "Tplus")',
                        dataType: "html",
                        data: { 'code': code, 'name': name, 'FromDate': date, 'Viewtype': 'BILL' },
                        contentType: "application/html; charset=utf-8",
                        beforeSend: function () {
                            $('#divModalProgress').modal('show');
                        },
                        success: function (response) {
                            $('#divModalHeader').html(head);
                            $('#divModalBody').html(response);
                            $('#divModalMain').modal('show');
                        },
                        complete: function () {
                            $('#divModalProgress').modal('hide');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
                else if (colindex == 5) {

                    var code = $(this).closest('tr').children('td:eq(0)').text();
                    var name = $(this).closest('tr').children('td:eq(1)').text();
                    var date = $('#fromdate').val();
                    var stlmnt = $(this).closest('tr').children('td:eq(2)').text();
                    var group = $('#cmbGroupBy').val();
                    var select = $('#cmbSelect').val();
                    var selCode = "";
                    var valNew = $('#txtSearchbyName').val();
                    if (valNew.trim() != "") {
                        valNew = $('#txtSearchbyName').val().split("~");
                        selCode = valNew[1]
                    }

            });*@


    </script>


    <script>
        $(document).ready(function () {

            $('#dateBulk').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                endDate: "+0d"

            });
            $('#dateBulk').val(GetFormattedDate);
            $('#dateBulk').datepicker('update');

            $('.open-datetimepicker').click(function (event) {
                event.preventDefault();
                $('#dateBulk').focus();
            });
        });


        function GetFormattedDate() {
            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return day + "/" + month + "/" + year;
        }
        function GetFormattedDateNew() {

            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return year + "" + month + "" + day;
        }
    </script>

}






