
@{
    ViewBag.Title = "Continuous Shortfall (MTF)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/AdminLTE/daterangepicker/daterangepicker.css">
<link href="~/AdminLTE/multiselct/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .btn-default {
        width: 127px;
        height: 25px;
    }

        .btn-default span {
            position: relative;
            top: -4px;
            right: 0;
            font-size: 12px;
        }

    .caret {
        margin-top: -8px;
    }
</style>

<div id="divModalProgress" class="modal" style="display: none">
    <div class="center">
        <img alt="" src="~/img/loader.gif" />
    </div>
</div>
<div class="container-fluid row-no-gutters">
    <div class="row" align="center">
        <div class="col-lg-2 col-md-2 col-sm-2">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div id="divProfitLossHead" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading ledgerhead">
                        <a href="#"><strong>CONTINUOUS SHORTFALL (MTF)</strong></a>
                    </div>
                    <div align="center" id="divProfitLossSelect" class="panel-body ledgerbody">
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                <div align="right" class="col-sm-1">
                                    As On :
                                </div>
                                <div id="divseg" align="left" class="col-sm-2" style="margin:0 0 0 0.5%;width:17.5%">
                                    <div class='input-group'>
                                        <input type="text" class="form-control input-sm" id="dateBulk">
                                        <label class="input-group-addon btn" for="date">
                                            <span class="fa fa-calendar  open-datetimepicker"></span>
                                        </label>
                                    </div>
                                </div>

                                <div align="right" class="col-sm-1">
                                    For :
                                </div>
                                <div align="right" class="col-md-2" style="margin:0 0 0 0.5%;width:14.5%">
                                    <select id='cmbSelect' class="form-control input-sm">
                                        <option value='ALL'>All</option>
                                        <option value='CL'>Client</option>
                                        <option value='GR'>Group</option>
                                        <option value='SB'>Sub-Broker</option>
                                        <option value='FM'>Family</option>
                                        <option value='BR'>Branch</option>
                                    </select>
                                </div>
                                <div align="right" class="col-md-3"  style="margin:0 0 0 0.5%">
                                    @*@{ Html.RenderPartial("_SearchClientTextBox"); }*@
                                    <input type="text" style="visibility:hidden;" class="form-control input-sm" id="txtSearchbyName" autocomplete="off" placeholder="Search Client" list="ClientMasterSearch" required>
                                    <datalist id="ClientMasterSearch"></datalist>
                                </div>
                               
                                    <div  align="right" class="col-md-2">
                                         <input type="submit" class="btn btn-primary" style="margin-left:50px" id="btnFetch" value="Fetch" />
                                    </div>
                                </div>
                            <div class="form-group">
                                <div align="right" class="col-md-3" style="margin:0 0 0 -1.5%">
                                    Shortfall Since Last 4 Days
                                </div>
                                <div align="left" class="col-md-3">
                                  
                                </div>
                                <div align="left" class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
        </div>
    </div>
    <div class="row collapse" align="center" id="divReportPanel">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="panel panel-info">
                <div id="divReportPanelHeader" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading">
                    Continuous Shortfall Reports (MTF)
                </div>
                <div id="divReportPanelBody" class="panel-body">

                </div>

            </div>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/AdminLTE/moment/min/moment.min.js"></script>
    <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/tpluslibrary.js"></script>

    <script type="text/javascript">

        $(".ledgerhead").click(function () {
            $('.ledgerbody').toggle();
        });

        $('#txtSearchbyName').on("input", function () {
            if ($('#txtSearchbyName').val() == "") {
                return;
            }
            var options = {};
            options.url = '@Url.Action("GetClientDetails", "Tplus")';
            options.type = "GET";
            options.data = { 'criteria': $('#txtSearchbyName').val(), 'SearchBy': $('#cmbSelect') };
            options.dataType = "json";
            options.success = function (data) {
                $("#ClientMasterSearch").empty();
                for (var i = 0; i < data.length; i++) {
                    $('#ClientMasterSearch').append("<option value='" +
                    data[i].ClientName + "'></option>");
                }
            };
            $.ajax(options);
        });



        $('#btnFetch').click(function (event) {


            var cmbSelect = $("#cmbSelect").val();
            cmbSelect = cmbSelect.toString().trim();

            var Code = "";
            var valNew = $('#txtSearchbyName').val();
            if (valNew.trim() != "") {
                valNew = $('#txtSearchbyName').val().split("~");

                Code = valNew[1]
            }
            if ($("#cmbSelect").val() != "ALL") {
                if (Code == '') {
                    alert("Please Enter Code");
                    $('#txtSearchbyName').focus();
                    return false;
                }
            }
            $('#divReportPanelBody').html('');
            $('#divReportPanel').hide();

            $('.ledgerbody').hide();

            var date = $('#dateBulk').val();


            var display;
            display = 'CONTINUOUS SHORTFALL (MTF) REPORT [' + date + ']'


            $.ajax({
                type: "GET",
                url: '@Url.Action("MTFContinuousShortfallReport", "Tplus")',
                dataType: "html",
                data: { 'strClient': Code, 'FDate': date, 'cmbSelect': cmbSelect },

                contentType: "application/html; charset=utf-8",
                beforeSend: function () {
                    $("#btnFetch").attr("disabled", true);
                    $('#divModalProgress').modal('show');
                    $('#divSaveReport').hide();
                },
                success: function (response) {
                    $('#divReportPanelHeader').html(display);
                    $('#divReportPanelBody').html(response);
                    $('#divReportPanel').show();
                    $("#btnFetch").attr("disabled", false);
                },
                complete: function () {
                    $('#divModalProgress').modal('hide');
                    $('#divSaveReport').show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

        $('#cmbSelect').change(function () {

            var value = this.value;
            var search = "";

            if (value == "ALL") {
                $("#txtSearchbyName").css("visibility", "hidden");
                search = "Search For Client"
            }
            else if (value == "CL") {
                $("#txtSearchbyName").css("visibility", "visible");
                search = "Search For Client"
            }
            else if (value == "FM") {
                $("#txtSearchbyName").css("visibility", "visible");
                search = "Search For Family"
            }
            else if (value == "GR") {
                $("#txtSearchbyName").css("visibility", "visible");
                search = "Search For Group"
            }
            else if (value == "BR") {
                $("#txtSearchbyName").css("visibility", "visible");
                search = "Search For Branch"
            }
            else if (value == "SB") {
                $("#txtSearchbyName").css("visibility", "visible");
                search = "Search For SubBrokers"
            }
            $('#txtSearchbyName').val('');
            $('#txtSearchbyName').attr("placeholder", search);
        });

    </script>


    <script>
        $(document).ready(function () {
            $('#dateBulk').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: "-360d",
                endDate: "+0d"

            });
            $('#dateBulk').val(GetFormattedDate);
            $('#dateBulk').datepicker('update');

            $('.open-datetimepicker').click(function (event) {
                event.preventDefault();
                $('#dateBulk').focus();
            });
        });

        function GetFormattedDate() {
            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return day + "/" + month + "/" + year;
        }
        function GetFormattedDateNew() {

            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return year + "" + month + "" + day;
        }
    </script>

}








