
<div class="modal fade" id="modalSuccessError" tabindex="-1" role="dialog" aria-labelledby="modalSuccessError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header divstyle" align="center">
                <h4 class="modal-title divhead" id="modalSuccessErrorHead"></h4>
            </div>
            <div id="modalSuccessErrorBody" class="modal-body">
                Record Saved
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-number="1">Close</button>
            </div>
        </div>
    </div>
</div>

