
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConvertDate</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Date1</h1><br />
        <h1>@ViewBag.Date2</h1><br />
        <h1>@ViewBag.Date3</h1><br />
        <h1>@ViewBag.Date4</h1>

    </div>
</body>
</html>
