
@{
    ViewBag.Title = "InvesterBasedCommodity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles
{<link rel="stylesheet" href="~/AdminLTE/daterangepicker/daterangepicker.css">
    <link href="~/AdminLTE/multiselct/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <style>
        .padding-0 {
            padding-right: 3px;
            padding-left: 3px;
        }

        .panel-footer {
            padding: 1px !important;
        }


        h6 {
            font-family: Verdana;
            font-size: 11px;
        }

        form-horizontal {
            padding: 0px !important;
        }

        /* Important part */
        .modal-dialog {
            overflow-y: initial !important;
        }

        .modal-body {
            height: 300px;
            overflow-y: auto;
        }
    </style>
}
<div id="divModalProgress" class="modal" style="display: none">
    <div class="center">
        <img alt="" src="~/img/loader.gif" />
    </div>
</div>
<div class="container-fluid row-no-gutters">
    <div class="row" align="center">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div id="divProfitLossHead" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading ledgerhead">
                        <a href="#"><strong>INVESTOR BASED REPORT</strong></a>
                    </div>
                    <div align="center" id="divProfitLossSelect" class="panel-body ledgerbody">
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">

                                    <select id='cmbSelect' class="form-control input-sm">

                                        <option value='CL'>Client</option>

                                    </select>
                                </div>
                                <div align="left" class="col-md-8">
                                    @*@{ Html.RenderPartial("_SearchClientTextBox"); }*@
                                    <input type="text"  class="form-control input-sm" id="txtSearchbyName" placeholder="Search Client" list="ClientMasterSearch" required>
                                    <datalist id="ClientMasterSearch"></datalist>
                                </div>

                                <div align="right" class="col-md-1">
                                    </div>
                                </div>


                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>

                                <div align="right" class="col-md-2">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;">From:&nbsp;</label>

                                </div>
                                <div align="right" class="col-md-3">
                                    <div class='input-group'>
                                        <input type="text" class="form-control input-sm" id="FromDt">
                                        <label class="input-group-addon btn" for="date">
                                            <span class="fa fa-calendar  open-datetimepicker"></span>
                                        </label>
                                    </div>
                                </div>



                                <div align="right" class="col-md-1">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;">To:&nbsp;</label>
                                </div>
                                <div align="left" class="col-md-3">
                                    <div class='input-group'>
                                        <input type="text" class="form-control input-sm" id="ToDt">
                                        <label class="input-group-addon btn" for="date">
                                            <span class="fa fa-calendar  open-datetimepicker1"></span>
                                        </label>
                                    </div>

                                </div>

                                <div align="left" class="col-md-2">

                                </div>



                            </div>
                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;">Exch/Seg:&nbsp;</label>
                                </div>
                               

                                <div id="divseg" align="left" class="col-md-3" >
                                    <select id='cmbExchSeg' class="form-control input-sm">
                                        <option value='M'>MCX</option>
                                        <option value='N'>NCDEX</option>
                                        <option value='A'>Ahm-NMCE</option>

                                    </select>

                                </div>
                                <label for="cmbExchSeg" class="col-md-2 control-label" style="font-weight:normal;visibility:hidden">Open Option P/L On:</label>
                                <div align="right" class="col-md-3">
                                    <select id='openopt' class="form-control input-sm" style="visibility:hidden">
                                        <option value='Closing Premium'>Closing Premium</option>
                                        <option value='Underlying Close Price'>Underlying Close Price</option>
                                        <option value='Average Price'>Average Price</option>
                                        <option value='Do not valuate'>Do not valuate</option>
                                    </select>
                                </div>
                                <div align="left" class="col-md-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-1">
                                    <input type="checkbox" id="chkconsider" style="display:none">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;display:none;">
                                        Consider Option Transactions Before Report Period&nbsp;
                                    </label>

                                </div>

                             
                                <div align="right" class="col-md-3">
                                    <input type="checkbox" id="ChkBuySellValue">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;">
                                        Buy/Sell Value&nbsp;
                                    </label>

                                </div>

                                <div align="right" class="col-md-3">
                                    <input type="checkbox" id="ChkAvgRate">
                                    <label for="cmbExchSeg" class="control-label" style="font-weight:normal;">
                                        Average Rate&nbsp;
                                    </label>

                                </div>
                              
                                <div align="right" class="col-md-3">
                                    <input type="submit" class="btn btn-primary" id="btnFetch" value="Fetch" />
                                </div>

                            </div>

                          


                        </form>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div class="row collapse" align="center" id="divReportPanel">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
            <div class="panel panel-info">
                <div id="divReportPanelHeader" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading">
                    Invester Based Report
                </div>
                <div id="divReportPanelBody" class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
    </div>

    @section Scripts
{
        <script src="~/AdminLTE/moment/min/moment.min.js"></script>
        <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
        <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
        <script src="~/Scripts/tpluslibrary.js"></script>

        <script type="text/javascript">

            $(".ledgerhead").click(function () {
                $('.ledgerbody').toggle();
            });


            $('#txtSearchbyName').on("input", function () {
                if ($('#txtSearchbyName').val() == "") {
                    return;
                }
                var options = {};
                options.url = '@Url.Action("GetClientDetails", "Tplus")';
                options.type = "GET";
                options.data = { 'criteria': $('#txtSearchbyName').val(), 'SearchBy': $('#cmbSelect').val() };
                options.dataType = "json";
                options.success = function (data) {
                    $("#ClientMasterSearch").empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#ClientMasterSearch').append("<option value='" +
                        data[i].ClientName + "'></option>");
                    }
                };
                $.ajax(options);
            });
            $('#cmbSelect').change(function () {

                var value = this.value;
                var search = "";


                if (value == "CL") {
                    $("#txtSearchbyName").css("visibility", "visible");
                    search = "Search For Client"
                }
                else if (value == "FM") {
                    $("#txtSearchbyName").css("visibility", "visible");
                    search = "Search For Family"
                }
                else if (value == "GR") {
                    $("#txtSearchbyName").css("visibility", "visible");
                    search = "Search For Group"
                }
                else if (value == "BR") {
                    $("#txtSearchbyName").css("visibility", "visible");
                    search = "Search For Branch"
                }
                else if (value == "SB") {
                    $("#txtSearchbyName").css("visibility", "visible");
                    search = "Search For SubBrokers"
                }

                $('#txtSearchbyName').val('');
                $('#txtSearchbyName').attr("placeholder", search);

            });


            $('#btnFetch').click(function (event) {

                var Code = "";
                var valNew = $('#txtSearchbyName').val();
                if (valNew.trim() != "") {
                    valNew = $('#txtSearchbyName').val().split("~");
                    Code = valNew[1]
                    CName = valNew[0]
                }


                if (Code == '') {
                    alert("Please Enter Code");
                    $('#txtSearchbyName').focus();
                    return false;
                }



                //$('#divReportPanelBody').html('');
                //$('#divReportPanel').hide();

                //$('.ledgerbody').hide();

                var cmbExchSeg = $('#cmbExchSeg').val();

                var openopt = $('#openopt').val();


                var ChkAvgRate = 0;
                var chkconsider = 0;

                var ChkBuySellValue = 0;

                if (document.getElementById('ChkAvgRate').checked == true) {
                    ChkAvgRate = "1";
                }
                if (document.getElementById('chkconsider').checked == true) {
                    chkconsider = "1";
                }

                if (document.getElementById('ChkBuySellValue').checked == true) {
                    ChkBuySellValue = "1";
                }


                var FromDt = $('#FromDt').val();
                var ToDt = $('#ToDt').val();


                var display;
                display = 'INVESTOR REPORT FOR [' + FromDt + ' TO ' + ToDt + ']'

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("InvestorBasedComReport", "Report")',
                    dataType: "html",
                    data: { 'Code': Code, 'CName': CName, 'cmbSelect': $('#cmbSelect').val(), 'FromDt': FromDt, 'ToDt': ToDt, 'cmbExchSeg': cmbExchSeg, 'openopt': openopt, 'ChkAvgRate': ChkAvgRate, 'ChkBuySellValue': ChkBuySellValue, 'chkconsider': chkconsider },
                    contentType: "application/html; charset=utf-8",
                    beforeSend: function () {
                        $("#btnFetch").attr("disabled", true);
                        $('#divModalProgress').modal('show');
                        $('#divSaveReport').hide();
                    },
                    success: function (response) {
                        $('#divReportPanelHeader').html(display);
                        $('#divReportPanelBody').html(response);
                        $('#divReportPanel').show();
                        $("#btnFetch").attr("disabled", false);
                    },
                    complete: function () {
                        $('#divModalProgress').modal('hide');
                        $('#divSaveReport').show();
                        $('#reportId').html(display);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });

        </script>






        <script>


            $(document).ready(function () {

                $('#cmbExchSeg').multiselect({
                    includeSelectAllOption: true
                });
                $('#chkLedgerList').multiselect({
                    includeSelectAllOption: true
                });
                $("#chkLedgerList").multiselect('selectAll', false);
                $("#chkLedgerList").multiselect('updateButtonText');


                $('#FromDt').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    startDate: "",
                    endDate: "+90d"

                });
                $('#FromDt').val(GetFormattedDate);
                $('#FromDt').datepicker('update');


                $('#ToDt').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    startDate: "",
                    endDate: "+90d"

                });
                $('#ToDt').val(GetFormattedDate1);

                $('#ToDt').datepicker('update');



            });

            $('.open-datetimepicker1').click(function (event) {
                event.preventDefault();
                $('#ToDt').focus();
            });




            $('.open-datetimepicker').click(function (event) {
                event.preventDefault();
                $('#FromDt').focus();
            });

            function GetFormattedDate1() {
                var d = new Date();
                var day = ("0" + d.getDate()).slice(-2);
                var month = ("0" + (d.getMonth() + 1)).slice(-2);
                var year = d.getFullYear();
                return day + "/" + month + "/" + year;
            }
            function GetFormattedDateNew1() {

                var d = new Date();
                var day = ("0" + d.getDate()).slice(-2);
                var month = ("0" + (d.getMonth() + 1)).slice(-2);
                var year = d.getFullYear();
                return year + "" + month + "" + day;
            }

            function GetFormattedDate() {
                var d = new Date();
                var day = ("0" + d.getDate()).slice(-2);
                var month = ("0" + (d.getMonth() + 1)).slice(-2);
                var year = d.getFullYear();
                return day + "/" + month + "/" + year;
            }
            function GetFormattedDateNew() {

                var d = new Date();
                var day = ("0" + d.getDate()).slice(-2);
                var month = ("0" + (d.getMonth() + 1)).slice(-2);
                var year = d.getFullYear();
                return year + "" + month + "" + day;
            }

        </script>
    }

