@{
    ViewBag.Title = "INVPL Gain Loss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="~/AdminLTE/daterangepicker/daterangepicker.css">
    <link href="~/AdminLTE/multiselct/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <style>
        .padding-0 {
            padding-right: 3px;
            padding-left: 3px;
        }

        .panel-footer {
            padding: 1px !important;
        }


        h6 {
            font-family: Verdana;
            font-size: 11px;
        }

        form-horizontal {
            padding: 0px !important;
        }
    </style>
}

<div id="divModalProgress" class="modal" style="display: none">
    <div class="center">
        <img alt="" src="~/img/loader.gif" />
    </div>
</div>
<div class="container-fluid row-no-gutters">
    <div class="row" align="center">
        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div id="divProfitLossHead" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading ledgerhead">
                        <a href="#"><strong>INVPL GAIN LOSS</strong></a>
                    </div>
                    <div align="center" id="divProfitLossSelect" class="panel-body ledgerbody">
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">

                                    Client :
                                </div>
                                <div align="left" class="col-md-8" style="margin: 0 0 0 0.9%;">
                                   
                                    <input type="text" style="width:330px" class="form-control input-sm" id="txtSearchbyName" placeholder="Search Client" list="ClientMasterSearch" autocomplete="off" required>
                                    <datalist id="ClientMasterSearch"></datalist>
                                </div>
                            </div>
                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">
                                    Report:
                                </div>
                                <div align="left" class="col-md-2" style="margin: 0 0 0 0.9%;">
                                    <select id='cmbReport' class="form-control input-sm">
                                        <option value='PL'>Actual P&L</option>
                                        <option value='N'>Notional</option>
                                        <option value='H'>Holding</option>
                                    </select>
                                </div>
                                <div id="Div1" align="right" class="col-md-2">
                                    <input id="CBJobbing" checked="checked" type="checkbox" /><label for="Jobbing" class="control-label">Jobbing</label> &nbsp;&nbsp;&nbsp;
                                </div>
                                <div id="Div2" align="right" class="col-md-2">
                                    <input id="CBDelivery" checked="checked" type="checkbox" /><label for="Delivery" class="control-label">Delivery</label>
                                </div>
                                <div align="left" class="col-md-3">
                                </div>
                            </div>
                            <div class="form-group" id="Div3">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">
                                    Sales Between :
                                </div>
                                <div align="left" class="col-md-4" style="margin: 0 0 0 0.9%;">
                                    <button type="button" class="btn btn-info" id="daterange-btn">
                                        <span>
                                            <i class="fa fa-calendar"></i> Select Date
                                        </span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>

                                </div>
                                <div align="right" class="col-md-2">
                                    <input id="CBDetail" type="checkbox" /><label for="Detail" class="control-label">Detail</label>
                                </div>
                                <div align="left" class="col-md-3">

                                </div>
                            </div>
                            <div class="form-group" id="Div4" style="visibility:collapse;">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">
                                    As On :
                                </div>
                                <div align="left" class="col-md-3" style="margin: 0 0 0 0.9%;">
                                    <div align="left" class='input-group'>
                                        <input type="text" class="form-control input-sm" id="dateBulk">
                                        <label class="input-group-addon btn" for="date">
                                            <span class="fa fa-calendar  open-datetimepicker"></span>
                                        </label>
                                    </div>
                                </div>
                                <div align="left" class="col-md-6">

                                </div>
                            </div>
                            <div class="form-group">
                                <div align="left" class="col-md-1">
                                </div>
                                <div align="right" class="col-md-2">

                                </div>

                                <div align="left" class="col-md-9">
                                    <input id="CBIgnoreEffect" type="checkbox" /><label for="Delivery" class="control-label">Ignore Effect of Section 112A of IT Act</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="divGainLoss" align="center">
                        <input type="button" value="Fetch" id="btnFetch" class="btn btn-primary" />
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row collapse" align="center" id="divReportPanel">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-info">
                <div id="divReportPanelHeader" style="height: 28px;padding:6px; font-family:Verdana; font-size:12px; font-weight:800; text-align:center" class="panel-heading">
                    INVPL GAIN LOSS
                </div>
                <div id="divReportPanelBody" class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
        <input id="HDReportPanelHeader" type="hidden" />
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header divstyle" align="center">
                    <h4 class="modal-title divhead" id="modalTradeListingHead"></h4>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -10px; margin-right: -10px;" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="divModalBody" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/AdminLTE/moment/min/moment.min.js"></script>
    <script src="~/AdminLTE/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/multiselct/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/tpluslibrary.js"></script>

    <script type="text/javascript">

        $(".ledgerhead").click(function () {
            $('.ledgerbody').toggle();
        });


        $('#txtSearchbyName').on("input", function () {
            if ($('#txtSearchbyName').val() == "") {
                return;
            }
            var options = {};
            //var searchby = $('#cmbSelect').val();
            options.url = '@Url.Action("GetClientDetails", "Tplus")';
            options.type = "GET";
            options.data = { 'criteria': $('#txtSearchbyName').val(), 'SearchBy': 'CL'};
            options.dataType = "json";
            options.success = function (data) {
                $("#ClientMasterSearch").empty();
                for (var i = 0; i < data.length; i++) {
                    $('#ClientMasterSearch').append("<option value='" +
                    data[i].ClientName + "'></option>");
                }
            };
            $.ajax(options);
        });


        $('#btnFetch').click(function (event) {


            var Code = "";
            var Name = "";
            var valNew = $('#txtSearchbyName').val();
            if (valNew.trim() != "") {
                valNew = $('#txtSearchbyName').val().split("~");
                Code = valNew[1]
                Name = valNew[0]
            }


            if (Code == '') {
                alert("Please Enter Code");
                $('#txtSearchbyName').focus();
                return false;
            }
            var date = $('#dateBulk').val();

            var CBJobbing = "0";
            var CBDelivery = "0";
            var CBIgnoreEffect = "0";
            var CBDetail = "0";
            if (document.getElementById('CBJobbing').checked == true) {
                CBJobbing = "1";
            }
            if (document.getElementById('CBDelivery').checked == true) {
                CBDelivery = "1";
            }
            if (document.getElementById('CBIgnoreEffect').checked == true) {
                CBIgnoreEffect = "1";
            }
            if (document.getElementById('CBDetail').checked == true) {
                CBDetail = "1";
            }


            $('#divReportPanelBody').html('');
            $('#divReportPanel').hide();

            $('.ledgerbody').hide();

            var FromDt = $('#daterange-btn').data('daterangepicker').startDate.format("YYYYMMDD")
            var ToDt = $('#daterange-btn').data('daterangepicker').endDate.format("YYYYMMDD");

            var strFromDt = $('#daterange-btn').data('daterangepicker').startDate.format("DD/MM/YYYY")
            var strToDt = $('#daterange-btn').data('daterangepicker').endDate.format("DD/MM/YYYY");

            var display;
            if ($("#cmbReport").val() =='PL') { display = 'INVPL GAIN LOSS [' + strFromDt + ' To ' + strToDt + ']' } else {
                display = 'INVPL GAIN LOSS '

            }
            if ($("#cmbReport").val() == 'H' ) {

                display = 'Holding [' + date + ']';
            }
            if ($("#cmbReport").val() == 'N') {

                display = 'Notional [' + date + ']';
            }

            var displayExcel;
            if ($("#cmbReport").val() == 'PL') {
                displayExcel = 'Actual Gain Loss for period ' + strFromDt + ' To ' + strToDt + ' \n ' + ' Client : ' + Name + ' [' + Code + ']';
            }
         
            if ($("#cmbReport").val() == 'H') {

                displayExcel = 'Holding  as on  ' + date  + ' \n ' + ' Client : ' + Name + ' [' + Code + ']';
            }
            if ($("#cmbReport").val() == 'N') {

                displayExcel = 'Notional Holding as on ' + date  + ' \n ' + ' Client : ' + Name + ' [' + Code + ']';
            }

            $.ajax({
                type: "GET",
                url: '@Url.Action("InvplGainLossReport", "Report")',
                dataType: "html",
                data: { 'cmbReport': $("#cmbReport").val(), 'Code': Code, 'FDate': FromDt, 'ToDate': ToDt, 'AsonDate': date, 'CBJobbing': CBJobbing, 'CBDelivery': CBDelivery, 'CBIgnoreEffect': CBIgnoreEffect, 'CBDetail': CBDetail },
                contentType: "application/html; charset=utf-8",
                beforeSend: function () {
                    $("#btnFetch").attr("disabled", true);
                    $('#divModalProgress').modal('show');
                    $('#divSaveReport').hide();
                },
                success: function (response) {
                    $('#HDReportPanelHeader').val(displayExcel);

                    $('#divReportPanelHeader').html(display);
                    $('#divReportPanelBody').html(response);
                    $('#divReportPanel').show();
                    $("#btnFetch").attr("disabled", false);
                },
                complete: function () {
                    $('#divModalProgress').modal('hide');
                    $('#divSaveReport').show();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });




    </script>


    <script>
        var month = parseInt(moment().get('month'));
        var year = parseInt(moment().get('year'));
        if (month < 3) {
            year = parseInt(year - 1);
        }
        var start = moment().subtract(365, 'days');
        var end = moment();

        $(function () {
            $('#daterange-btn').daterangepicker(
                {
                    locale: {
                        format: 'DD/MM/YYYY'
                    },
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                        'This Financial Year': [moment('01/04-' + year + '', 'DD/MM/YYYY'), moment()],
                        'Last Financial Year': [moment('01/04-' + parseInt(year - 1) + '', 'DD/MM/YYYY'), moment('31/03/' + parseInt(year) + '', 'DD/MM/YYYY')]
                    },
                    showDropdowns: true,
                    linkedCalendars: false,
                    alwaysShowCalendars: false,
                    autoApply: false,
                    minDate: '01/01/2000',
                    maxDate: '01/01/2025'
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format("DD/MM/YYYY") + ' - ' + end.format("DD/MM/YYYY"))
                }
            )

        })
    </script>
    <script>
        $(document).ready(function () {

            $('#dateBulk').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: "-365d",
                endDate: "+0d"

            });
            $('#dateBulk').val(GetFormattedDate);
            $('#dateBulk').datepicker('update');
        });

        function GetFormattedDate() {
            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return day + "/" + month + "/" + year;
        }
        function GetFormattedDateNew() {

            var d = new Date();
            var day = ("0" + d.getDate()).slice(-2);
            var month = ("0" + (d.getMonth() + 1)).slice(-2);
            var year = d.getFullYear();
            return year + "" + month + "" + day;
        }
    </script>


    <script type="text/javascript">


        $('#cmbReport').change(function () {

            var value = this.value;
            var search = "";
            if (value == "PL") {
                $("#Div1").css("visibility", "visible");
                $("#Div2").css("visibility", "visible");
                $("#Div3").css("visibility", "visible");
                $("#Div4").css("visibility", "collapse");

            }
            if (value == "N") {
                $("#Div1").css("visibility", "collapse");
                $("#Div2").css("visibility", "collapse");
                $("#Div3").css("visibility", "collapse");
                $("#Div4").css("visibility", "collapse");
                $('#CBDetail').prop('checked', false); // Checks it
            }
            if (value == "H") {
                $("#Div1").css("visibility", "collapse");
                $("#Div2").css("visibility", "collapse");
                $("#Div3").css("visibility", "collapse");
                $("#Div4").css("visibility", "visible");
                $('#CBDetail').prop('checked', false); // Checks it
            }
        });

    </script>
}
