@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Session Timed Out";
}

<hgroup>
    <h1 class="text-danger">Session Expired.</h1>
    <h2 class="text-danger">Please Login Again and Continue</h2>
</hgroup>
